# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyz
*.pyzw
*.egg-info/
dist/
build/
*.egg
*.spec

# Virtual environment
venv/

# Test
test/__pycache__/

# Docker
Dockerfile
*.dockerignore

# IDEs
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak
*.tmp